process {
    withName: "FIMO:CONCAT_FILTER_GFF" {
        ext.args = "'/^#/ { next } NF==0 { next } { print }'"
    }

    withName: "FIMO:SORT_GFF" {
        ext.args = "-t \$'\\t' -k1,1V -k4,4n -k5,5n"
        ext.prefix = {"${meta.id}_sorted"}
    }

    withName: "FIMO:CONCAT_FILTER_TSV" {
        ext.args = "-v HEADER='motif_id\\tmotif_alt_id\\tsequence_name\\tstart\\tstop\\tstrand\\tscore\\tp-value\\tq-value\\tmatched_sequence' 'BEGIN {print HEADER} FNR==1 {next} /^#/ {next} NF==0 {next} {print}'"
    }

    withName: ".*:FIMO:SORT_TSV" {
        ext.args = "-k motif_id:N -k sequence_name:N -k start:n -k stop:n -k strand -k score:nr -k p-value:n -k q-value:n -k matched_sequence"
    }
}
