process {
    withName: "FIMO:CONCAT_FILTER_GFF" {
        ext.args = "'/^#/ { next } NF==0 { next } { print }'"
    }

    withName: "FIMO:SORT_GFF" {
        ext.args = "-t \$'\\t' -k1,1V -k4,4n -k5,5n"
        ext.prefix = {"${meta.id}_sorted"}
    }

    withName: ".*:FIMO:SORT_TSV" {
        ext.args = "-k motif_id:N -k sequence_name:N -k start:n -k stop:n"
    }
}
