img {
    object-fit: contain;
}

.ranking-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
    width: 70%;
}

.card {
    margin: 5px
}

button {
    margin: 2px;
}

.stretch-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
}

.stretchable {
    flex: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.clickable {
    cursor: pointer;
}

.forbidden {
    cursor: not-allowed;
}