process {
    withName: GFF_TO_BED {
        ext.args   = "'BEGIN{OFS=\"\\t\"} {print \$1, \$4-1, \$5}'"
        ext.suffix = "bed"
    }

    withName: MERGE_DUPLICATE_REGIONS {
        ext.prefix = { "merged_${meta.id}" }
    }

    withName: FILTER_SNPS_BY_REGION {
        ext.args   = "-wa"
        ext.prefix = { "filtered_${meta.id}" }
        ext.suffix = "bed"
    }
}
