/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    PREPARE_GENOME
    */

    withName: ".*:PREPARE_GENOME:GUNZIP_FASTA" {
        publishDir = [
            path: { "${params.outdir}/00_prepare_genome/01_fasta" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PREPARE_GENOME:GUNZIP_GTF" {
        publishDir = [
            path: { "${params.outdir}/00_prepare_genome/02_gtf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PREPARE_GENOME:EXTRACT_ID_SYMBOL_MAP" {
        ext.prefix = "id_symbol_map"
        publishDir = [
            path: { "${params.outdir}/00_prepare_genome/03_id_symbol_map" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PREPARE_GENOME:GTFTOOLS_LENGTH" {
        publishDir = [
            path: { "${params.outdir}/00_prepare_genome/04_gtftools_length" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PREPARE_GENOME:SAMTOOLS_FAIDX" {
        publishDir = [
            path: { "${params.outdir}/00_prepare_genome/05_samtools_faidx" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    COUNTS
    */

    withName: ".*:COUNTS:COMBINE_COUNTS" {
        publishDir = [
            path: { "${params.outdir}/01_counts/01_combined" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:COUNTS:CALCULATE_TPM" {
        publishDir = [
            path: { "${params.outdir}/01_counts/02_tpm" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:COUNTS:FILTER_GENES" {
        publishDir = [
            path: { "${params.outdir}/01_counts/03_filtered_genes" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:COUNTS:FILTER_TFS" {
        publishDir = [
            path: { "${params.outdir}/01_counts/04_filtered_tfs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:COUNTS:PREPARE_DESIGN" {
        publishDir = [
            path: { "${params.outdir}/01_counts/05_deseq2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:COUNTS:DESEQ2_DIFFERENTIAL" {
        publishDir = [
            path: { "${params.outdir}/01_counts/05_deseq2/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    MOTIFS
    */

    withName: ".*:MOTIFS:FETCH_JASPAR" {
        publishDir = [
            path: { "${params.outdir}/02_motifs/01_jaspar" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MOTIFS:CONVERT_TO_UNIVERSAL" {
        publishDir = [
            path: { "${params.outdir}/02_motifs/02_universal" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MOTIFS:FILTER_MOTIFS" {
        publishDir = [
            path: { "${params.outdir}/02_motifs/03_filtered" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MOTIFS:CONVERT_TO_MEME" {
        publishDir = [
            path: { "${params.outdir}/02_motifs/04_meme" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MOTIFS:CONVERT_TO_TRANSFAC" {
        publishDir = [
            path: { "${params.outdir}/02_motifs/05_transfac" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MOTIFS:TRANSFAC_TO_PSEM" {
        publishDir = [
            path: { "${params.outdir}/02_motifs/06_psem" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    PEAKS
    */

    withName: ".*:PEAKS:CLEAN_BED" {
        ext.args = {"'{print \$1 \"\\t\" \$2 \"\\t\" \$3 \"\\t\" \$4 \"\\t\" \$5 \"\\t\" \$6}'"}
        ext.prefix = {"${meta.id}.clean"}
        ext.suffix = "bed"
        publishDir = [
            path: { "${params.outdir}/03_peaks/01_cleaned" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:FOOTPRINTING:BEDTOOLS_MERGE" {
        ext.args = {"-d ${meta.max_peak_gap}"}
        ext.prefix = {"${meta.id}.merged"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/02_footprinting/01_merged" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:FOOTPRINTING:BEDTOOLS_SUBTRACT" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/02_footprinting/02_subtracted" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:MERGE_SAMPLES:ANNOTATE_SAMPLES" {
        ext.args = {"'{print \$0 \"\\t\" \"${meta.id}\"}'"}
        ext.prefix = {"${meta.id}.annotated"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/03_merged_samples/01_annotated" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:MERGE_SAMPLES:CONCAT_SAMPLES" {
        ext.prefix = {"${meta.id}.concatenated"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/03_merged_samples/02_concatenated" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:MERGE_SAMPLES:BEDTOOLS_SORT" {
        ext.prefix = {"${meta.id}.sorted"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/03_merged_samples/03_sorted" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:MERGE_SAMPLES:BEDTOOLS_MERGE" {
        ext.args = "-c 1 -o count"
        ext.prefix = {"${meta.id}.merged"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/03_merged_samples/04_merged" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:MERGE_SAMPLES:FILTER_MIN_OCCURRENCE" {
        ext.args = {"'\$NF >= ${params.min_peak_occurrence}'"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/03_merged_samples/04_filtered" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:MERGE_SAMPLES:CLEAN_BED" {
        ext.args = "'{print \$1 \"\\t\" \$2 \"\\t\" \$3}'"
        ext.prefix = {"${meta.id}.clean"}
        ext.suffix = "bed"

        publishDir = [
            path: { "${params.outdir}/03_peaks/03_merged_samples/05_cleaned" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:SORT_PEAKS" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/03_sorted" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:CHROMHMM:BINARIZE_BAMS" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/04_chromhmm/01_binarized" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:CHROMHMM:LEARN_MODEL" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/04_chromhmm/02_learned" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:CHROMHMM:GET_ENHANCER_RESULTS" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/04_chromhmm/03_enhancers" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:CHROMHMM:GET_PROMOTER_RESULTS" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/04_chromhmm/04_promoters" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:FILTER_CONVERT_GTF" {
        ext.args = {"'BEGIN {OFS = \"\\t\"} \$3 == \"transcript\" {print \$1, \$4-1, \$4, \$1 \":\" \$4-1 \"-\" \$4, \$6, \$7}'"}
        ext.suffix = "bed"
        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/01_filtered" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:SORT_BED" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/02_sorted" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:SORT_CHROM_SIZES" {
        ext.args = "-V -k1,1 -k2,2n"
        ext.prefix = {"${meta.id}_sorted"}
        ext.suffix = "fa.fai"

        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/03_sorted" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:CONSTRUCT_TSS" {
        ext.args = {"-b ${params.rose_tss_window}"}
        ext.prefix = "tss"

        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/04_tss" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:INVERT_TSS" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/05_inverted" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:FILTER_PREDICTIONS" {
        ext.args = "-A -f 1"
        ext.prefix = {"${meta.id}_filtered"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/06_filtered" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:STITCHING" {
        ext.args = {"-d ${params.rose_stitching_window}"}
        ext.prefix = {"${meta.id}_stitched"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/07_stitched" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:TSS_OVERLAP" {
        ext.args = "-c"
        ext.prefix = {"${meta.id}_tss-overlap-counts"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/08_tss_overlap" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:FILTER_OVERLAPS" {
        ext.args = {"'BEGIN {OFS = \"\\t\"} \$NF >= 2 {print \$1, \$2, \$3}'"}
        ext.prefix = {"${meta.id}_overlap"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/09_filtered" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:SUBTRACT_OVERLAPS" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/10_subtracted" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:UNSTITCHED_REGIONS" {
        ext.args = "-F 1"
        ext.prefix = {"${meta.id}_original_regions"}

        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/11_unstitched" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:ROSE:CONCAT_AND_SORT" {
        ext.prefix = {"${meta.id}_stitched"}
        ext.args = "-k1,1 -k2,2n"
        ext.suffix = "bed"

        publishDir = [
            path: { "${params.outdir}/03_peaks/05_rose/12_concatenated" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:STARE" {
        ext.args = { "-w ${params.window_size} -e ${params.decay}" }
        publishDir = [
            path: { "${params.outdir}/03_peaks/06_stare" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:AFFINITY_MEAN" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/07_affinity_mean" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:AGGREGATE_SYNONYMS" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/08_aggregated" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:AFFINITY_RATIO" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/09_affinity_ratio" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PEAKS:AFFINITY_SUM" {
        publishDir = [
            path: { "${params.outdir}/03_peaks/09_affinity_sum" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    DYNAMITE
    */

    withName: ".*:DYNAMITE:PREPROCESS" {
        publishDir = [
            path: { "${params.outdir}/04_dynamite/01_preprocessed" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:DYNAMITE:RUN_DYNAMITE" {
        //Produces an error if the input is too small and ends with exitStatus 139
        errorStrategy = { task.exitStatus == 139 ? 'ignore' : 'retry' }

        publishDir = [
            path: { "${params.outdir}/04_dynamite/02_dynamite" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:DYNAMITE:FILTER" {
        ext.args = {"'BEGIN{OFS=\"\\t\"} NR==1 || (\$2 >= ${params.dynamite_min_regression} || \$2 <= -${params.dynamite_min_regression} )'"}
        ext.prefix = {"${meta.id}.filtered"}
        ext.suffix = "tsv"

        publishDir = [
            path: { "${params.outdir}/04_dynamite/03_filtered" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    RANKING
    */

    withName: ".*:RANKING:TF_TG_SCORE" {
        publishDir = [
            path: { "${params.outdir}/05_ranking/01_tf_tg_score" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:RANKING:CREATE_RANKING" {
        publishDir = [
            path: { "${params.outdir}/05_ranking/02_ranking" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:RANKING:COMBINE_TFS_PER_ASSAY" {
        ext.extension = "tf_ranking.tsv"

        publishDir = [
            path: { "${params.outdir}/05_ranking/03_combined_tfs_per_assay" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:RANKING:COMBINE_TFS_ACROSS_ASSAYS" {
        publishDir = [
            path: { "${params.outdir}/05_ranking/04_combined_tfs_across_assays" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:RANKING:COMBINE_TGS_PER_ASSAY" {
        ext.extension = "tg_ranking.tsv"

        publishDir = [
            path: { "${params.outdir}/05_ranking/05_combined_tgs_per_assay" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:RANKING:COMBINE_TGS_ACROSS_ASSAYS" {
        publishDir = [
            path: { "${params.outdir}/05_ranking/06_combined_tgs_across_assays" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    FIMO
    */

    withName: ".*:FIMO:FILTER_MOTIFS" {
        publishDir = [
            path: { "${params.outdir}/06_fimo/01_filtered_motifs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:FIMO:EXTRACT_SEQUENCE" {
        publishDir = [
            path: { "${params.outdir}/06_fimo/02_extracted_sequence" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:FIMO:RUN_FIMO" {
        publishDir = [
            path: { "${params.outdir}/06_fimo/03_fimo/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:FIMO:CONCAT_FILTER_GFF" {
        ext.args = "'/^#/ { next } NF==0 { next } { print }'"
        publishDir = [
            // Unsorted intermediate file, disable publishing
            enabled: false
        ]
    }

    withName: ".*:FIMO:SORT_GFF" {
        ext.args = "-t \$'\\t' -k1,1V -k4,4n -k5,5n"
        ext.prefix = {"${meta.id}_sorted"}
        publishDir = [
            path: { "${params.outdir}/06_fimo/04_combined_results/gff" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:FIMO:CONCAT_FILTER_TSV" {
        ext.args = "-v HEADER='motif_id\\tmotif_alt_id\\tsequence_name\\tstart\\tstop\\tstrand\\tscore\\tp-value\\tq-value\\tmatched_sequence' 'BEGIN {print HEADER} FNR==1 {next} /^#/ {next} NF==0 {next} {print}'"
        publishDir = [
            // Unsorted intermediate file, disable publishing
            enabled: false
        ]
    }

    withName: ".*:FIMO:SORT_TSV" {
        ext.args = "-k motif_id:N -k sequence_name:N -k start:n -k stop:n -k strand -k score:nr -k p-value:n -k q-value:n -k matched_sequence"
        publishDir = [
            path: { "${params.outdir}/06_fimo/04_combined_results/tsv" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        memory = { 36.GB * task.attempt }
    }

    /*
    SNEEP
    */

    withName: ".*:SNEEP:FILTER_SCALES_MOTIFS" {
        publishDir = [
            path: { "${params.outdir}/07_sneep/01_filtered_scales_motifs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:SNEEP:GFF_TO_BED" {
        ext.args = "'BEGIN{OFS=\"\\t\"} {print \$1, \$4-1, \$5}'"
        ext.suffix = "bed"

        publishDir = [
            path: { "${params.outdir}/07_sneep/02_gff_to_bed" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:SNEEP:SORT_BED" {
        publishDir = [
            path: { "${params.outdir}/07_sneep/03_sorted" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:SNEEP:MERGE_DUPLICATE_REGIONS" {
        ext.prefix = {"merged_${meta.id}"}

        publishDir = [
            path: { "${params.outdir}/07_sneep/04_merged" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:SNEEP:FILTER_SNPS_BY_REGION" {
        ext.args = "-wa"
        ext.prefix = {"filtered_${meta.id}"}
        ext.suffix = "bed"

        publishDir = [
            path: { "${params.outdir}/07_sneep/05_filtered_snps" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:SNEEP:RUN_SNEEP" {
        publishDir = [
            path: { "${params.outdir}/07_sneep/06_sneep" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    REPORT
    */

    withName: ".*:REPORT:UNTAR" {
        publishDir = [
            enabled: false
        ]
    }

    withName: ".*:REPORT:PREPROCESS" {
        publishDir = [
            enabled: false
        ]
    }

    withName: ".*:REPORT:(CREATE|ZIP)" {
        publishDir = [
            path: { "${params.outdir}/08_report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    General configs
    */

    withName: SORT_BED {
        ext.args = "-V -k1,1 -k2,2n"
        ext.prefix = {"${meta.id}_sorted"}
        ext.suffix = "bed"
    }
}
