/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/tfactivity -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input         = 'https://raw.githubusercontent.com/nf-core/test-datasets/tfactivity/samplesheet/samplesheet_peaks.csv'
    counts        = 'https://raw.githubusercontent.com/nf-core/test-datasets/tfactivity/rna-seq/Gene_id.txt'
    counts_design = 'https://raw.githubusercontent.com/nf-core/test-datasets/tfactivity/samplesheet/samplesheet_rnaseq.csv'

    // Genome references
    genome = 'mm10'
    fasta  = 'https://github.com/nf-core/test-datasets/raw/tfactivity/reference/chr1.fa.gz'
    gtf    = 'https://github.com/nf-core/test-datasets/raw/tfactivity/reference/chr1.gtf.gz'

    // Pipeline parameters
    outdir = 'results'
}
