process {
    withName: RUN_DYNAMITE {
        //Produces an error if the input is too small and ends with exitStatus 139
        errorStrategy = { task.exitStatus == 139 ? 'ignore' : 'retry' }
    }

    withName: FILTER {
        ext.args = {"'BEGIN{OFS=\"\\t\"} NR==1 || (\$2 >= ${params.dynamite_min_regression} || \$2 <= -${params.dynamite_min_regression} )'"}
        ext.prefix = {"${meta.id}.filtered"}
        ext.suffix = "tsv"
    }
}