process {
    withName: FILTER_CONVERT_GTF {
        ext.args = {"'BEGIN {OFS = \"\\t\"} \$3 == \"transcript\" {print \$1, \$4-1, \$4, \$1 \":\" \$4-1 \"-\" \$4, \$6, \$7}'"}
        ext.suffix = "bed"
    }

    withName: SORT_CHROM_SIZES {
        ext.args = "-V -k1,1 -k2,2n"
        ext.prefix = {"${meta.id}_sorted"}
        ext.suffix = "fa.fai"
    }

    withName: CONSTRUCT_TSS {
        ext.args = {"-b ${params.rose_tss_window}"}
        ext.prefix = "tss"
    }

    withName: FILTER_PREDICTIONS {
        ext.args = "-A -f 1"
        ext.prefix = {"${meta.id}_filtered"}
    }

    withName: STITCHING {
        ext.args = {"-d ${params.rose_stitching_window}"}
        ext.prefix = {"${meta.id}_stitched"}
    }

    withName: TSS_OVERLAP {
        ext.args = "-c"
        ext.prefix = {"${meta.id}_tss-overlap-counts"}
    }

    withName: FILTER_OVERLAPS {
        ext.args = {"'BEGIN {OFS = \"\\t\"} \$NF >= 2 {print \$1, \$2, \$3}'"}
        ext.prefix = {"${meta.id}_overlap"}
    }

    withName: UNSTITCHED_REGIONS {
        ext.args = "-F 1"
        ext.prefix = {"${meta.id}_original_regions"}
    }

    withName: CONCAT_AND_SORT {
        ext.prefix = {"${meta.id}_stitched"}
        ext.args = "-k1,1 -k2,2n"
        ext.suffix = "bed"
    }
}